<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tt01a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,170},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>tt01a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,85},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>tt01a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>tt01a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,85},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>tt01a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>tt01a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>tt01b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tt01-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ff54158a14dd1160ccfdce60ec2de0d:1/1$</string>
            <key>textureFileName</key>
            <string>tt01-hd.png</string>
        </dict>
    </dict>
</plist>
